docs/n8n_production_workflow.json
{
  "name": "BI Integration (Prod: Meta Ads to Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30135616-a1ea-4196-abb1-367e88b1d882",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger (BI Manual)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "webhookId": "30135616-a1ea-4196-abb1-367e88b1d882"
    },
    {
      "parameters": {
        "resource": "adAccount",
        "operation": "getInsights",
        "adAccountId": "YOUR_AD_ACCOUNT_ID_HERE",
        "insightFields": [
          "campaign_name",
          "spend",
          "impressions",
          "clicks",
          "actions",
          "date_start"
        ],
        "datePreset": "today",
        "level": "campaign",
        "additionalFields": {}
      },
      "id": "facebook-marketing",
      "name": "Facebook Meta Ads",
      "type": "n8n-nodes-base.facebookMarketing",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "credentials": {
        "facebookMarketingOAuth2Api": {
          "id": "",
          "name": "Facebook Marketing account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Extrai o produto do nome da campanha pela convenção:\n// \"{numero} - [{Produto}] - [segmento] - ...\"\n// Ex: \"075 - [Legado] - [CAD] - [CBO] - Formulário Nativo [FLN]\"\n// =============================================================================\n\nfunction extractProductName(campaignName) {\n  if (!campaignName) return 'Institucional';\n\n  // Padrão principal: número(s) + hífen + [Produto]\n  const mainPattern = /^\\d+\\s*[-–]\\s*\\[([^\\]]+)\\]/;\n  const mainMatch = campaignName.match(mainPattern);\n  if (mainMatch) return mainMatch[1].trim();\n\n  // Fallback: qualquer [conteúdo] no nome (ignora siglas com 3 letras ou menos)\n  const anyBracket = /\\[([^\\]]+)\\]/;\n  const bracketMatch = campaignName.match(anyBracket);\n  if (bracketMatch) {\n    const val = bracketMatch[1].trim();\n    if (val.length > 3) return val;\n  }\n\n  return 'Institucional';\n}\n\nconst results = {};\nlet inputItems = [];\n\nif (Array.isArray(items)) {\n    for (const item of items) {\n        if (item.json) {\n            if (Array.isArray(item.json)) inputItems.push(...item.json);\n            else if (item.json.data && Array.isArray(item.json.data)) inputItems.push(...item.json.data);\n            else inputItems.push(item.json);\n        } else {\n            inputItems.push(item);\n        }\n    }\n} else {\n    if (items.json) {\n        if (Array.isArray(items.json)) inputItems = items.json;\n        else inputItems = [items.json];\n    } else {\n        inputItems = [items];\n    }\n}\n\ninputItems = inputItems.flat();\n\nfor (const ad of inputItems) {\n    if (!ad || !ad.campaign_name) continue;\n\n    const date = ad.date_start;\n    const campaignName = ad.campaign_name;\n    const productName = extractProductName(campaignName);\n\n    const cost = parseFloat(ad.spend) || 0;\n    const impressions = parseInt(ad.impressions) || 0;\n    let clicks = parseInt(ad.clicks) || 0;\n    let leads = 0;\n\n    if (ad.actions && Array.isArray(ad.actions)) {\n        if (clicks === 0) {\n            const clickAction = ad.actions.find(a => a.action_type === 'link_click');\n            if (clickAction) clicks = parseInt(clickAction.value) || 0;\n        }\n\n        const leadObj = ad.actions.find(a => a.action_type === 'lead');\n        const leadGrouped = ad.actions.find(a => a.action_type === 'onsite_conversion.lead_grouped');\n        const offsiteReg = ad.actions.find(a => a.action_type === 'offsite_complete_registration_add_meta_leads');\n\n        let maxLeads = 0;\n        if (leadObj) maxLeads = Math.max(maxLeads, parseInt(leadObj.value) || 0);\n        if (leadGrouped) maxLeads = Math.max(maxLeads, parseInt(leadGrouped.value) || 0);\n\n        if (maxLeads > 0) leads = maxLeads;\n        else if (offsiteReg) leads = parseInt(offsiteReg.value) || 0;\n    }\n\n    const key = `${date}|${productName}`;\n\n    if (!results[key]) {\n        results[key] = { date, channel_name: 'Meta Ads', product_name: productName, cost: 0, impressions: 0, clicks: 0, leads: 0 };\n    }\n\n    results[key].cost += cost;\n    results[key].impressions += impressions;\n    results[key].clicks += clicks;\n    results[key].leads += leads;\n}\n\nreturn Object.values(results).map(item => {\n    item.cost = Math.round(item.cost * 100) / 100;\n    return { json: item };\n});"
      },
      "id": "transformer-node",
      "name": "Transform Meta Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Garante que o canal 'Meta Ads' existe\nINSERT INTO dim_channels (name, platform) VALUES ('Meta Ads', 'Meta')\nON CONFLICT (name) DO NOTHING;\n\n-- Garante que o produto existe (criado automaticamente pelo nome da campanha)\nINSERT INTO dim_products (name) VALUES ($2)\nON CONFLICT (name) DO NOTHING;\n\n-- Upsert do fato diário\nINSERT INTO fact_daily_marketing (date, channel_id, product_id, cost, impressions, clicks, leads)\nVALUES (\n  $1::DATE,\n  (SELECT id FROM dim_channels WHERE name = 'Meta Ads' LIMIT 1),\n  (SELECT id FROM dim_products WHERE name = $2 LIMIT 1),\n  $3,\n  $4,\n  $5,\n  $6\n)\nON CONFLICT (date, channel_id, product_id)\nDO UPDATE SET\n  cost = EXCLUDED.cost,\n  impressions = EXCLUDED.impressions,\n  clicks = EXCLUDED.clicks,\n  leads = EXCLUDED.leads;",
        "additionalFields": {
          "queryParams": "={{ $json.date }}, {{ $json.product_name }}, {{ $json.cost }}, {{ $json.impressions }}, {{ $json.clicks }}, {{ $json.leads }}"
        }
      },
      "id": "postgres-insert",
      "name": "Upsert Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        750,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Facebook Meta Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (BI Manual)": {
      "main": [
        [
          {
            "node": "Facebook Meta Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Meta Ads": {
      "main": [
        [
          {
            "node": "Transform Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Meta Data": {
      "main": [
        [
          {
            "node": "Upsert Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}