docs/n8n_production_workflow.json
{
  "name": "BI Integration (Prod: Meta Ads to Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30135616-a1ea-4196-abb1-367e88b1d882",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger (BI Manual)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "webhookId": "30135616-a1ea-4196-abb1-367e88b1d882"
    },
    {
      "parameters": {
        "resource": "adAccount",
        "operation": "getInsights",
        "adAccountId": "YOUR_AD_ACCOUNT_ID_HERE",
        "insightFields": [
          "campaign_name",
          "spend",
          "impressions",
          "clicks",
          "actions",
          "date_start"
        ],
        "datePreset": "today",
        "level": "campaign",
        "additionalFields": {}
      },
      "id": "facebook-marketing",
      "name": "Facebook Meta Ads",
      "type": "n8n-nodes-base.facebookMarketing",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "credentials": {
        "facebookMarketingOAuth2Api": {
          "id": "",
          "name": "Facebook Marketing account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\r\n// N8N Meta Ads Transformer - Versão 2.1\r\n// Convenção de nome de campanha: {numero} - [{Produto}] - [segmento] - ...\r\n// Exemplo: \"075 - [Legado] - [CAD] - [CBO] - Formulário Nativo [FLN]\"\r\n// =============================================================================\r\n\r\n/**\r\n * Extrai o nome do produto do nome da campanha.\r\n * Regras (em ordem de prioridade):\r\n * 1. Primeiro colchete após o número inicial: \"075 - [Legado] - ...\" → \"Legado\"\r\n * 2. Qualquer [conteúdo] no nome da campanha (primeiro match)\r\n * 3. Fallback: 'Institucional'\r\n */\r\nfunction extractProductName(campaignName) {\r\n  if (!campaignName) return 'Institucional';\r\n\r\n  // Padrão principal: número(s) + hífen + [Produto]\r\n  // Ex: \"075 - [Legado] - ...\" ou \"12 - [Impulsão] ...\"\r\n  const mainPattern = /^\\d+\\s*[-–]\\s*\\[([^\\]]+)\\]/;\r\n  const mainMatch = campaignName.match(mainPattern);\r\n  if (mainMatch) return mainMatch[1].trim();\r\n\r\n  // Fallback: qualquer [conteúdo] no nome (pega o primeiro)\r\n  const anyBracket = /\\[([^\\]]+)\\]/;\r\n  const bracketMatch = campaignName.match(anyBracket);\r\n  if (bracketMatch) {\r\n    const val = bracketMatch[1].trim();\r\n    // Ignora siglas curtas (3 letras ou menos) como [CAD], [CBO], [FLN]\r\n    if (val.length > 3) return val;\r\n  }\r\n\r\n  return 'Institucional';\r\n}\r\n\r\n// =============================================================================\r\n// Processamento principal\r\n// =============================================================================\r\n\r\nconst results = {};\r\nlet inputItems = [];\r\n\r\nif (Array.isArray(items)) {\r\n    for (const item of items) {\r\n        if (item.json) {\r\n            if (Array.isArray(item.json)) inputItems.push(...item.json);\r\n            else if (item.json.data && Array.isArray(item.json.data)) inputItems.push(...item.json.data);\r\n            else inputItems.push(item.json);\r\n        } else {\r\n            inputItems.push(item);\r\n        }\r\n    }\r\n} else {\r\n    if (items.json) {\r\n        if (Array.isArray(items.json)) inputItems = items.json;\r\n        else inputItems = [items.json];\r\n    } else {\r\n        inputItems = [items];\r\n    }\r\n}\r\n\r\ninputItems = inputItems.flat();\r\n\r\nfor (const ad of inputItems) {\r\n    if (!ad || !ad.campaign_name) continue;\r\n\r\n    const date = ad.date_start;\r\n    const campaignName = ad.campaign_name;\r\n\r\n    // Extrai produto pela convenção de nomenclatura\r\n    const productName = extractProductName(campaignName);\r\n\r\n    // Métricas básicas\r\n    const cost = parseFloat(ad.spend) || 0;\r\n    const impressions = parseInt(ad.impressions) || 0;\r\n    let clicks = parseInt(ad.clicks) || 0;\r\n\r\n    // Extrai leads das actions\r\n    let leads = 0;\r\n    let mqls = 0; // Inicializa MQLs\r\n    if (ad.actions && Array.isArray(ad.actions)) {\r\n        if (clicks === 0) {\r\n            const clickAction = ad.actions.find(a => a.action_type === 'link_click');\r\n            if (clickAction) clicks = parseInt(clickAction.value) || 0;\r\n        }\r\n\r\n        // Fontes de lead e MQL\r\n        const leadObj      = ad.actions.find(a => a.action_type === 'lead');\r\n        const leadGrouped  = ad.actions.find(a => a.action_type === 'onsite_conversion.lead_grouped');\r\n        const offsiteReg   = ad.actions.find(a => a.action_type === 'offsite_complete_registration_add_meta_leads');\r\n        const pixelCustom  = ad.actions.find(a => a.action_type === 'offsite_conversion.fb_pixel_custom');\r\n        \r\n        // MQLs: Leads Nativos são MQLs automáticos (para Legado)\r\n        // Procuramos também por conversões personalizadas que contenham 'mql'\r\n        const mqlActions = ad.actions.filter(a => \r\n            a.action_type.toLowerCase().includes('mql') || \r\n            a.action_type.toLowerCase().includes('qualified')\r\n        );\r\n\r\n        let nativeMqls = 0;\r\n        if (leadObj)     nativeMqls = Math.max(nativeMqls, parseInt(leadObj.value) || 0);\r\n        if (leadGrouped) nativeMqls = Math.max(nativeMqls, parseInt(leadGrouped.value) || 0);\r\n\r\n        let customMqls = 0;\r\n        mqlActions.forEach(a => {\r\n            // Evita somar lead nativo de novo se ele tiver 'mql' no nome (raro, mas segurança)\r\n            if (a.action_type !== 'lead' && a.action_type !== 'onsite_conversion.lead_grouped') {\r\n                customMqls += parseInt(a.value) || 0;\r\n            }\r\n        });\r\n\r\n        // Pega o maior valor entre os eventos primários de leads (evita dupla contagem)\r\n        let maxLeads = 0;\r\n        if (leadObj)     maxLeads = Math.max(maxLeads, parseInt(leadObj.value)    || 0);\r\n        if (leadGrouped) maxLeads = Math.max(maxLeads, parseInt(leadGrouped.value)|| 0);\r\n\r\n        if (maxLeads > 0) {\r\n            leads = maxLeads;\r\n        } else if (offsiteReg) {\r\n            leads = parseInt(offsiteReg.value) || 0;\r\n        } else if (pixelCustom) {\r\n            leads = parseInt(pixelCustom.value) || 0;\r\n        }\r\n\r\n        // MQL Logic: Nas campanhas de formulário nativo todos os leads são MQL e Leads fica vazio (0)\r\n        // Para Lead Web, mqls vem apenas de conversões personalizadas e leads continua preenchido\r\n        const normalizedCampaign = campaignName.toLowerCase();\r\n        const isNative = normalizedCampaign.includes('nativo');\r\n        \r\n        if (isNative) {\r\n            mqls = leads;\r\n            leads = 0; // Leads fica vazio para Mostrar Somente MQL\r\n        } else {\r\n            mqls = customMqls;\r\n        }\r\n    }\r\n\r\n\r\n    // Agrupa por data + campanha para manter granularidade total\r\n    const key = `${date}|${campaignName}`;\r\n    \r\n    if (!results[key]) {\r\n        results[key] = {\r\n            date,\r\n            channel_name: 'Meta Ads',\r\n            product_name: productName,\r\n            campaign_name: campaignName,\r\n            cost: 0,\r\n            impressions: 0,\r\n            clicks: 0,\r\n            leads: 0,\r\n            mqls: 0\r\n        };\r\n    }\r\n\r\n    results[key].cost += cost;\r\n    results[key].impressions += impressions;\r\n    results[key].clicks += clicks;\r\n    results[key].leads += leads;\r\n    results[key].mqls += mqls;\r\n}\r\n\r\n// Formata output para o N8N\r\nreturn Object.values(results).map(item => {\r\n    item.cost = Math.round(item.cost * 100) / 100;\r\n    return { json: item };\r\n});\r\n"
      },
      "id": "transformer-node",
      "name": "Transform Meta Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ============================================================\r\n-- N8N Postgres Node - \"Execute Query\"\r\n-- Upsert de dados do Meta Ads em fact_daily_marketing\r\n-- ============================================================\r\n-- Parâmetros (queryParams no nó):\r\n-- $1 = {{ $json.date }}\r\n-- $2 = {{ $json.product_name }}\r\n-- $3 = {{ $json.cost }}\r\n-- $4 = {{ $json.impressions }}\r\n-- $5 = {{ $json.clicks }}\r\n-- $6 = {{ $json.leads }}\r\n-- $7 = {{ $json.channel_name }}\r\n-- $8 = {{ $json.campaign_name }}\r\n-- $9 = {{ $json.mqls }}\r\n-- ============================================================\r\n\r\nWITH upsert_product AS (\r\n  -- Cria o produto se não existir, ou atualiza (retorna ID em ambos os casos)\r\n  INSERT INTO dim_products (name)\r\n  VALUES ($2)\r\n  ON CONFLICT (name) DO UPDATE SET name = EXCLUDED.name\r\n  RETURNING id\r\n)\r\nINSERT INTO fact_daily_marketing (\r\n  date,\r\n  channel_id,\r\n  product_id,\r\n  campaign_name,\r\n  cost,\r\n  impressions,\r\n  clicks,\r\n  leads,\r\n  mqls\r\n)\r\nSELECT\r\n  $1::DATE,\r\n  (SELECT id FROM dim_channels WHERE name = $7 LIMIT 1),\r\n  (SELECT id FROM upsert_product),\r\n  $8,\r\n  $3::NUMERIC,\r\n  $4::INTEGER,\r\n  $5::INTEGER,\r\n  $6::INTEGER,\r\n  $9::INTEGER\r\nON CONFLICT (date, channel_id, product_id, campaign_name)\r\nDO UPDATE SET\r\n  cost        = EXCLUDED.cost,\r\n  impressions = EXCLUDED.impressions,\r\n  clicks      = EXCLUDED.clicks,\r\n  leads       = EXCLUDED.leads,\r\n  mqls        = EXCLUDED.mqls;\r\n",
        "additionalFields": {
          "queryParams": "={{ $json.date }}, {{ $json.product_name }}, {{ $json.cost }}, {{ $json.impressions }}, {{ $json.clicks }}, {{ $json.leads }}, {{ $json.channel_name }}, {{ $json.campaign_name }}, {{ $json.mqls }}"
        }
      },
      "id": "postgres-insert",
      "name": "Upsert Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        750,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Facebook Meta Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (BI Manual)": {
      "main": [
        [
          {
            "node": "Facebook Meta Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Meta Ads": {
      "main": [
        [
          {
            "node": "Transform Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Meta Data": {
      "main": [
        [
          {
            "node": "Upsert Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}